* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8ff;
    color: #1E1E1E;
}

$primary-color: #4E47FF;

.btn {
    border: none;
    padding: 12px 36px;
    background-color: $primary-color;
    color: #ffff;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

// header section
header {
    background: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .header-container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 158px;
        padding-bottom: 151px;

        nav {
            display: flex;
            justify-content: space-between;
            padding: 50px 0;

            h1 {
                font-size: 34px;
                cursor: pointer;


            }

            .logo {
                color: $primary-color;
                font-family: 'Inter', sans-serif;
                font-weight: 900;

                span {
                    color: rgb(255, 94, 0);
                }
            }

        }

        .banner {
            display: flex;
            flex-direction: column;
            gap: 37px;
            align-items: center;
            text-align: center;

            .banner-heading {
                font-family: "Raleway", sans-serif;
                font-size: 65px;
                font-weight: 700;
            }
        }
    }
}

// action section
section.action {
    margin: 130px 0;
    font-family: "Raleway", sans-serif;

    .action-container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .action-text {
            display: flex;
            flex-direction: column;
            gap: 23px;
            align-items: flex-start;

            .action-heading {
                font-size: 42px;
                font-weight: 700;
            }

            .action-description {
                font-size: 24px;
                color: #2524325e;
                line-height: 30px;
            }
        }

        .action-image {
            display: flex;
            justify-content: flex-end;

            img {
                width: 403px;
                height: 328px;
                object-fit: cover;
                border-radius: 48px;
            }
        }
    }
}

// productive-user section
section.productive-user {
    .user-container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 50px 80px;
        background-color: #4d47ff10;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        border-radius: 24px;

        .user-heading {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 38px;
        }

        .stat-boxes {
            display: flex;
            gap: 158px;

            .stat-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Inter', sans-serif;

                .stat-number {
                    font-size: 80px;
                    font-weight: 700;
                    color: $primary-color;
                }

                .stat-label {
                    font-size: 20px;
                    color: #00000050;
                }
            }

        }
    }
}

// review section
section.review {
    margin: 120px 0;

    .review-container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        justify-content: center;

        .review-heading {
            font-size: 42px;
            font-family: "Raleway", sans-serif;
            font-weight: 700;

        }

        .user-reviews {
            display: flex;
            gap: 20px;
        }

        .user-review {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 24px;
            background-color: rgba(255, 255, 255, 0.5);
            font-family: 'Inter', sans-serif;
            border-radius: 14px;
            justify-content: space-between;

            ul.rating-icons {
                display: flex;
                gap: 4px;

                li {
                    list-style: none;

                    img {
                        width: 16.67px;
                        height: 15.85px;
                    }
                }
            }

            .review-header {
                font-size: 24px;
                font-weight: 600;
            }

            .review-text {
                font-size: 1rem;
                line-height: 140%;
            }

            .reviewer {
                display: flex;
                gap: 12px;
                align-items: center;

                .reviwer-image {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: top;
                }

                .reviewer-details {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .reviewer-name {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 140%;
                        color: #757575;
                    }

                    .review-date {
                        font-size: 16px;
                        line-height: 140%;
                        color: #B3B3B3;
                    }
                }
            }
        }
    }
}

// conference section
section.live-preview {
    margin-bottom: 80px;

    .live-container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 71px 150px;
        background-color: white;
        border-radius: 14px;

        figure {
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            figcaption {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;

                .live-heading {
                    font-family: "Raleway", sans-serif;
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 120%;
                }

                .live-text {
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    line-height: 140%;
                    color: rgba(0, 0, 0, 0.5);
                }

            }

            img {
                width: 840px;
                height: 365px;
                object-fit: cover;
                border-radius: 48px;
            }
        }
    }
}

// contact section
section.contact {
    .contact-container {
        padding: 71px 0;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .contact-heading {
            font-size: 97px;
            font-weight: 700;
            line-height: 120%;
            font-family: "Raleway", sans-serif;

        }

        form {
            display: flex;
            flex-direction: column;
            gap: 22px;

            .form-item {
                display: flex;
                flex-direction: column;
            }

            label {
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 500;
            }

            input {
                background-color: white;
                padding: 20px 32px;
                border-radius: 10px;
                border: none;
                min-width: 497px;
                font-size: 20px;
                outline: 1px solid $primary-color;

                &::placeholder {
                    font-family: 'Inter', sans-serif;
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.5);
                    line-height: 150px;
                }
            }

            textarea {
                background-color: white;
                padding: 20px 32px;
                border-radius: 10px;
                border: none;
                min-width: 497px;
                min-height: 135px;
                resize: none;
                outline: 1px solid $primary-color;



                &::placeholder {
                    font-family: 'Inter', sans-serif;
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.5);
                    vertical-align: top;
                }
            }

            button {
                padding: 19px 110px;
            }
        }
    }
}


// footer 
footer {
    background-color: white;
    padding: 100px 0;

    .footer-container {
        max-width: 531px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .footer-text {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .footer-logo {
                color: $primary-color;
                font-size: 100px;
                font-family: 'Inter', sans-serif;
                font-weight: 900;

                span {
                    color: rgb(255, 94, 0);
                }
            }

            .contact-text {
                font-size: 16px;
                line-height: 150%;
                font-family: 'Inter', sans-serif;
                color: rgba(0, 0, 0, 0.5);
            }
        }

        .footer-nav {
            display: flex;
            gap: 48px;

            li {
                list-style: none;

                a {
                    color: rgba(0, 0, 0, 0.5);
                    text-decoration: none;
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    line-height: 150%;
                }
            }
        }
    }
}