* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;
  color: #1E1E1E;
}

.btn {
  border: none;
  padding: 12px 36px;
  background-color: #4E47FF;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  transform: scale(1.1);
}

header {
  background: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .header-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 158px;
  padding-bottom: 151px;
}
header .header-container nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
header .header-container nav h1 {
  font-size: 34px;
  cursor: pointer;
}
header .header-container nav .logo {
  color: #4E47FF;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}
header .header-container nav .logo span {
  color: rgb(255, 94, 0);
}
header .header-container .banner {
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: center;
  text-align: center;
}
header .header-container .banner .banner-heading {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: 700;
}

section.action {
  margin: 130px 0;
  font-family: "Raleway", sans-serif;
}
section.action .action-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.action .action-container .action-text {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
}
section.action .action-container .action-text .action-heading {
  font-size: 42px;
  font-weight: 700;
}
section.action .action-container .action-text .action-description {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.368627451);
  line-height: 30px;
}
section.action .action-container .action-image {
  display: flex;
  justify-content: flex-end;
}
section.action .action-container .action-image img {
  width: 403px;
  height: 328px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 48px;
}

section.productive-user .user-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 80px;
  background-color: rgba(77, 71, 255, 0.062745098);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  border-radius: 24px;
}
section.productive-user .user-container .user-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 38px;
}
section.productive-user .user-container .stat-boxes {
  display: flex;
  gap: 158px;
}
section.productive-user .user-container .stat-boxes .stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
section.productive-user .user-container .stat-boxes .stat-box .stat-number {
  font-size: 80px;
  font-weight: 700;
  color: #4E47FF;
}
section.productive-user .user-container .stat-boxes .stat-box .stat-label {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3137254902);
}

section.review {
  margin: 120px 0;
}
section.review .review-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
section.review .review-container .review-heading {
  font-size: 42px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
section.review .review-container .user-reviews {
  display: flex;
  gap: 20px;
}
section.review .review-container .user-review {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Inter", sans-serif;
  border-radius: 14px;
  justify-content: space-between;
}
section.review .review-container .user-review ul.rating-icons {
  display: flex;
  gap: 4px;
}
section.review .review-container .user-review ul.rating-icons li {
  list-style: none;
}
section.review .review-container .user-review ul.rating-icons li img {
  width: 16.67px;
  height: 15.85px;
}
section.review .review-container .user-review .review-header {
  font-size: 24px;
  font-weight: 600;
}
section.review .review-container .user-review .review-text {
  font-size: 1rem;
  line-height: 140%;
}
section.review .review-container .user-review .reviewer {
  display: flex;
  gap: 12px;
  align-items: center;
}
section.review .review-container .user-review .reviewer .reviwer-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
section.review .review-container .user-review .reviewer .reviewer-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
section.review .review-container .user-review .reviewer .reviewer-details .reviewer-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: #757575;
}
section.review .review-container .user-review .reviewer .reviewer-details .review-date {
  font-size: 16px;
  line-height: 140%;
  color: #B3B3B3;
}

section.live-preview {
  margin-bottom: 80px;
}
section.live-preview .live-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 71px 150px;
  background-color: white;
  border-radius: 14px;
}
section.live-preview .live-container figure {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section.live-preview .live-container figure figcaption {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
section.live-preview .live-container figure figcaption .live-heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
}
section.live-preview .live-container figure figcaption .live-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
}
section.live-preview .live-container figure img {
  width: 840px;
  height: 365px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 48px;
}

section.contact .contact-container {
  padding: 71px 0;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.contact .contact-container .contact-heading {
  font-size: 97px;
  font-weight: 700;
  line-height: 120%;
  font-family: "Raleway", sans-serif;
}
section.contact .contact-container form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
section.contact .contact-container form .form-item {
  display: flex;
  flex-direction: column;
}
section.contact .contact-container form label {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
section.contact .contact-container form input {
  background-color: white;
  padding: 20px 32px;
  border-radius: 10px;
  border: none;
  min-width: 497px;
  font-size: 20px;
  outline: 1px solid #4E47FF;
}
section.contact .contact-container form input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 150px;
}
section.contact .contact-container form input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 150px;
}
section.contact .contact-container form textarea {
  background-color: white;
  padding: 20px 32px;
  border-radius: 10px;
  border: none;
  min-width: 497px;
  min-height: 135px;
  resize: none;
  outline: 1px solid #4E47FF;
}
section.contact .contact-container form textarea::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  vertical-align: top;
}
section.contact .contact-container form textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  vertical-align: top;
}
section.contact .contact-container form button {
  padding: 19px 110px;
}

footer {
  background-color: white;
  padding: 100px 0;
}
footer .footer-container {
  max-width: 531px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
footer .footer-container .footer-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-container .footer-text .footer-logo {
  color: #4E47FF;
  font-size: 100px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}
footer .footer-container .footer-text .footer-logo span {
  color: rgb(255, 94, 0);
}
footer .footer-container .footer-text .contact-text {
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
footer .footer-container .footer-nav {
  display: flex;
  gap: 48px;
}
footer .footer-container .footer-nav li {
  list-style: none;
}
footer .footer-container .footer-nav li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
}/*# sourceMappingURL=style.css.map */